<!DOCTYPE html>
<html>
  <head>
    <title>DodeTown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div style="background-color: white;">
    <!--<div class="footerFixed">-->

  <body class="d-flex flex-column vh-100">
    <div class="footerFixed">
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand p-3" href="/">DodeTown</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <div class="d-flex justify-content-center">
                    <%= form_tag(search_path, method: :get) do %>
                    <%= text_field_tag 'content' %>
                    <%= select_tag 'model', options_for_select({ "投稿者" => "user", "ショップ名" => "post_image" }) %>
                    <%= select_tag 'method', options_for_select({ "完全一致" => "perfect", "部分一致" => "partial", "前方一致" => "forward_match", "後方一致" => "backward_match" }) %>
                    <%= submit_tag '検索' %>
                    <% end %>
                </div>
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '投稿フォーム', new_post_image_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '投稿者一覧', users_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'マイページ',edit_user_path(current_user), class: "nav-link text-dark" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '投稿者一覧', users_path, class: 'nav-link text-dark' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer>
      <p>青森のめえもん食いにいぐべ</p>
    </footer>
    </div>
    </body>
  </div>
</html>